
table {
    border-style:solid;
    border-width:1px;
    border-color:#e7e3e7;
    font-size: 0.8em;
}

table th, table td {
    border-style:solid;
    border-width:1px;
    border-color:#e7e3e7;
    padding-left: 5px;
    padding-right: 5px;
}

table th {
    border-style:solid;
    font-weight:500;
    background: url("/images/noise.png?1330434582") repeat scroll left top #f6f6f6;
}

table th[align="left"], table td[align="left"] {
    text-align:left;
}

table th[align="right"], table td[align="right"] {
    text-align:right;
}

table th[align="center"], table td[align="center"] {
    text-align:center;
}